<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="nwindConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nwind.mdb;Persist Security Info=True" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="DevExpress.Utils.v7.3, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraCharts.v7.3, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraPrinting.v7.3, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.v7.3, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Web.ASPxEditors.v7.3, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraReports.v7.3.Web, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.XtraReports.v7.3, Version=7.3.8.0, Culture=Neutral, PublicKeyToken=9B171C9FD64DA1D1" />
        <add assembly="DevExpress.Data.v7.3, Version=7.3.8.0, Culture=neutral, PublicKeyToken=9B171C9FD64DA1D1" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
  </system.web>
</configuration>